In [2]:
import pandas as pd

In [3]:
df_IDEB_mun = pd.read_csv("educacao_ideb_mun.csv", sep=";", encoding="latin1")
df_IDEB_mun.head()

,Localidade,Rede,Taxa de Aprovação - 2015,Taxa de Aprovação - 2017,Taxa de Aprovação - 2019,SAEB - 2015,SAEB - 2017,SAEB - 2019,IDEB 2015,IDEB 2017,IDEB 2019,Meta - 2015,Meta - 2017,Meta - 2019,Meta - 2021,Anos,Cod
0,Estado São Paulo,Total,"0,98","0,98","0,98","6,54","6,77","6,83","6,4","6,6","6,7","6,0","6,3","6,5","6,7",1º ao 5º ano,NaN
1,Estado São Paulo,Pública,"0,97","0,98","0,98","6,38","6,60","6,62","6,2","6,5","6,5","5,8","6,1","6,3","6,6",1º ao 5º ano,NaN
2,Estado São Paulo,Privada,"0,99","0,99","0,99","7,22","7,51","7,67","7,1","7,4","7,6","7,5","7,6","7,8","7,9",1º ao 5º ano,NaN
3,Estado São Paulo,Estadual,"0,98","0,99","0,99","6,47","6,63","6,66","6,4","6,5","6,6","5,8","6,1","6,3","6,6",1º ao 5º ano,NaN
4,Estado São Paulo,Total,"0,94","0,94","0,96","5,33","5,58","5,67","5,0","5,3","5,5","5,4","5,6","5,9","6,1",6º ao 9º ano,NaN

In [4]:
# IDEB médio de MOGI-GUAÇU
df_mogi_guacu = df_IDEB_mun.loc[df_IDEB_mun['Localidade'] == 'Mogi-Guaçu']
pd.DataFrame(df_mogi_guacu)

Empty DataFrame
Columns: [Localidade, Rede, Taxa de Aprovação - 2015, Taxa de Aprovação - 2017, Taxa de Aprovação - 2019, SAEB - 2015, SAEB - 2017, SAEB - 2019, IDEB 2015, IDEB 2017, IDEB 2019, Meta - 2015, Meta - 2017, Meta - 2019, Meta - 2021, Anos, Cod]
Index: []

In [5]:
df_MATRICULAS =pd.read_csv("Matrículas por Município, Ano, Nível de ensino e Rede de atendimento.csv", sep=";", encoding="latin1")
df_MATRICULAS

      cod_ibge   ano nivel_escolar        rede  matriculas
0      3500105  2019        Creche    Estadual           0
1      3500105  2019        Creche   Municipal         613
2      3500105  2019        Creche  Particular         162
3      3500204  2019        Creche    Estadual           0
4      3500204  2019        Creche   Municipal           0
...        ...   ...           ...         ...         ...
9670   3557204  2019  Ensino Médio   Municipal           0
9671   3557204  2019  Ensino Médio  Particular           0
9672   3557303  2019  Ensino Médio    Estadual         343
9673   3557303  2019  Ensino Médio   Municipal           0
9674   3557303  2019  Ensino Médio  Particular           0

[9675 rows x 5 columns]

In [6]:
#MATRICULAS EM MOGI GUAÇU
df_matriculas_mogi_guacu = df_MATRICULAS.loc[df_MATRICULAS['cod_ibge'] == 3515103]
pd.DataFrame(df_matriculas_mogi_guacu)

,cod_ibge,ano,nivel_escolar,rede,matriculas
504,3515103,2019,Creche,Estadual,0
505,3515103,2019,Creche,Municipal,1303
506,3515103,2019,Creche,Particular,171
2439,3515103,2019,Pré-escola,Estadual,0
2440,3515103,2019,Pré-escola,Municipal,1769
2441,3515103,2019,Pré-escola,Particular,376
4374,3515103,2019,Ensino Fundamental - Anos Iniciais,Estadual,2485
4375,3515103,2019,Ensino Fundamental - Anos Iniciais,Municipal,1997
4376,3515103,2019,Ensino Fundamental - Anos Iniciais,Particular,1343
6309,3515103,2019,Ensino Fundamental - Anos Finais,Estadual,3277
6310,3515103,2019,Ensino Fundamental - Anos Finais,Municipal,265
6311,3515103,2019,Ensino Fundamental - Anos Finais,Particular,849
8244,3515103,2019,Ensino Médio,Estadual,2958
8245,3515103,2019,Ensino Médio,Municipal,0
8246,3515103,2019,Ensino Médio,Particular,345

In [9]:
df_MATRICULAS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9675 entries, 0 to 9674
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cod_ibge       9675 non-null   int64
 1   ano            9675 non-null   int64
 2   nivel_escolar  9675 non-null   object
 3   rede           9675 non-null   object
 4   matriculas     9675 non-null   int64
dtypes: int64(3), object(2)
memory usage: 378.1+ KB

In [7]:
df_idade_escolar = pd.read_csv("pop_idade_escolar_2000a2050_esp.csv", sep=";", encoding="latin1")
df_idade_escolar

,cod_ibge,municipio,ano,de_00a03anos,de_04e05anos,de_06a10anos,de_11a14anos,de_15a17anos,populacao_total,ate17anos,demais_idades,partic_ate17anos
0,3500105,Adamantina,2000,1.683,929.000,2.639,2.414,1.952,33.484,9.617,23.867,"28,72"
1,3500204,Adolfo,2000,183.000,102.000,319.000,314.000,230.000,3.680,1.148,2.532,"31,2"
2,3500303,Aguaí,2000,1.925,1.030,2.622,2.125,1.730,28.145,9.432,18.713,"33,51"
3,3500402,Águas da Prata,2000,352.000,215.000,591.000,509.000,419.000,7.127,2.086,5.041,"29,27"
4,3500501,Águas de Lindóia,2000,1.008,507.000,1.354,1.196,924.000,16.145,4.989,11.156,"30,9"
...,...,...,...,...,...,...,...,...,...,...,...,...
7090,3557006,Votorantim,2050,4.751,2.432,6.229,5.152,3.978,129.770,22.542,107.228,"17,37"
7091,3557105,Votuporanga,2050,2.405,1.254,3.260,2.739,2.149,88.475,11.807,76.668,"13,35"
7092,3557154,Zacarias,2050,74.000,40.000,101.000,86.000,70.000,2.628,371,2.257,"14,12"
7093,3557204,Chavantes,2050,500.000,254.000,648.000,529.000,401.000,12.040,2.332,9.708,"19,37"
7094,3557303,Estiva Gerbi,2050,364.000,187.000,484.000,409.000,324.000,11.573,1.768,9.805,"15,28"

In [8]:
#POPULAÇÃO EM IDADE ESCOLAR EM MOGI GUAÇU
df_idade_escolar_mogi_guacu = df_idade_escolar.loc[df_idade_escolar['cod_ibge'] == 3515103]
pd.DataFrame(df_idade_escolar_mogi_guacu)

,cod_ibge,municipio,ano,de_00a03anos,de_04e05anos,de_06a10anos,de_11a14anos,de_15a17anos,populacao_total,ate17anos,demais_idades,partic_ate17anos
168,3515103,Embu-Guaçu,2000,4.663,2.222,5.601,4.701,3.655,56.671,20.842,35.829,"36,78"
813,3515103,Embu-Guaçu,2005,4.145,2.059,5.588,4.915,3.550,59.902,20.257,39.645,"33,82"
1458,3515103,Embu-Guaçu,2010,3.619,1.868,5.473,5.038,3.385,62.718,19.383,43.335,"30,91"
2103,3515103,Embu-Guaçu,2015,3.782,1.770,4.614,4.249,3.737,65.435,18.152,47.283,"27,74"
2748,3515103,Embu-Guaçu,2020,3.734,1.906,4.612,3.623,2.990,68.053,16.865,51.188,"24,78"
3393,3515103,Embu-Guaçu,2025,3.643,1.863,4.701,3.729,2.689,70.653,16.625,54.028,"23,53"
4038,3515103,Embu-Guaçu,2030,3.455,1.789,4.611,3.769,2.839,72.769,16.463,56.306,"22,62"
4683,3515103,Embu-Guaçu,2035,3.291,1.692,4.403,3.693,2.838,74.543,15.917,58.626,"21,35"
5328,3515103,Embu-Guaçu,2040,3.165,1.618,4.185,3.517,2.753,75.822,15.238,60.584,"20,1"
5973,3515103,Embu-Guaçu,2045,3.073,1.564,4.012,3.344,2.612,76.689,14.605,62.084,"19,04"
6618,3515103,Embu-Guaçu,2050,3.000,1.524,3.885,3.210,2.490,77.001,14.109,62.892,"18,32"